<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script type="text/javascript">
function dsp(loc){if(document.getElementById){foc=loc.firstChild.innerHTML?loc.firstChild:loc.firstChild.nextSibling;
  foc.innerHTML=(foc.innerHTML=='+')?'-':'+';
  foc=loc.parentNode.nextSibling.style?loc.parentNode.nextSibling:loc.parentNode.nextSibling.nextSibling;
  foc.style.display=foc.style.display=='block'?'none':'block';}
  } 
  if(!document.getElementById)
  document.write('<style type="text/css">\n'+'.dspcont{display:block;}\n'+'</style>');
</script>
<noscript>
<style type="text/css">
.dspcont{display:block;}
</style>
</noscript>

<script>
  function isHidden(oDiv){      
    var vDiv = document.getElementById(oDiv);      
    vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';    
  }
</script>

